<div>
    {{#with userDetails}}
    <h3>Hi again {{username}}, how are you going?</h3>
    {{/with}}
    <img src="../images/cat.jpg" alt="cat" style="display: block">
    <a href="/">Return Home</a>
</div>